.post_list {
    width: 70.2%;
    margin: 0 auto;
    min-height: $windowHeight;
    max-height: $windowHeight;
    overflow-y: scroll;
    display: inline-block;
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin: 10px;
            max-width: 12em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 8px;
            }
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
}

.intro {
    width: 70%;
    margin: 0 auto;
    padding-left: 4px;
    min-height: $windowHeight;
    max-height: $windowHeight;

    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    white-space: pre-wrap;

    display: inline-block;
    
    a {
        color: #0000ff;
    }
    h1 {
        font-size: 20px;
        font-weight: 700;
        margin: 12px 0 8px 0;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 12px 0 6px 0;
    }
    em {
        font-style: italic;
    }
    blockquote {
        padding: 0 0 0 15px;
        margin: 5px 5px;
        border-left: 8px solid #000000;
    }
    strong {
        font-weight: 700;
    }
    hr {
        border-top: 3px solid #333333;
        border-left: 0;
    }
    ul {
        list-style: square;
        margin: 0 0 10px 15px;
        li {
            white-space: normal;
            text-align: left;
            margin: 3px 0;
            ul {
                li {
                }
            }
        }
    }
    ol {
        // list-style: decimal-leading-zero;
        // margin: 0 0 15px 30px;
        li {
            // padding: 5px;
            ul {
                // margin: 10px 0 0 15px;
                li {
                    // padding: 5px;
                }
            }
        }
    }
    // table,
    // th,
    // td {
    //     // border: 1px solid #222222;
    //     // padding: 2px;
    // }
    // pre {
    //     // margin-bottom: 15px;
    // }
}